
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

header {
    /* height: 220px; */
}

.img1 {
    position: absolute;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    display: none; 
    height: 460px;
    z-index: 100;
}

.img2 {
    position: absolute;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    /* display: none;  */
    height: 460px;

}

body {
    margin: 30px;
    background: rgb(5,219,218);
    background: linear-gradient(90deg, rgba(5,219,218,1) 49%, rgba(0,115,255,1) 100%);
    text-align: center;
    cursor: pointer;
    
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'BhuTuka Expanded One', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 30px;
}

h2 {
    margin-top: -15px;
    text-align: center;
    font-family: 'Merienda';
    display: hidden;
    color: white; 
    font-size: 30px;
}

footer {
    cursor: pointer;
    height: 50px;
    margin-top: 0px;
}

.container {
    background: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 5px;
  }

.cell {

   justify-content: center;
   align-items: center;
   border: 5px solid rgb(255, 255, 255, 0.8);
   border-radius: 10px;
   display: flex;
   font-family: 'BhuTuka Expanded One', sans-serif;
   font-size: 90px;
   color: rgb(241, 241, 143);
   font-weight: bold;
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   cursor: url('https://cdn.custom-cursor.com/cursors/cute_milk_and_cookie_1322.png'), auto;
}

.cell:hover {
    background-color: rgb(235, 226, 58);
    transform: scale(1.1);
}

button {
    margin: 20px 10px 30px 10px;
    padding: 15px;
    font-size: 20px;
    font-family: 'BhuTuka Expanded One', sans-serif; 
    border-radius: 10px;
    border: 2px solid rgb(209, 224, 229);
    cursor: pointer; 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

button:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
}

p {
    font-size: 35px;
    font-family: 'BhuTuka Expanded One', sans-serif;
    padding-top: 5px;
    display: none;
}

@media (max-width: 715px) {


    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 25px;
        margin-top: 0px;
    }

    button {
        font-size: 15px;
        margin: 15px;
        padding: 15px;
    }

    .grid {
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(3, 125px);
    }

    .cell {
        font-size: 60px;
    }

    p {
        font-size: 30px;
        margin-top: 50px;
    }

    .img1, .img2 {
        position: absolute;
        height: 400px;
        width: 400px;
    }

   

}

@media (max-width: 550px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
        
    }

    button {
        font-size: 15px;
        margin: 5px;
        padding: 5px;
    }

    .grid {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);

    }

    .cell {
        font-size: 40px;
    }

    p {
        font-size: 25px;
        margin-top: 50px;
    }

    .img1, .img2 {
        position: absolute;
        height: 310px;
        width: 310px;
    }

}


